.main {
	display: flex;
	flex-direction: column;
	margin: 5% 18%;
	padding-left: 7%;
	padding-right: 11%;
	padding-top: 1%;
	padding-bottom: 5%;
	margin-right: 12%;
	justify-content: center;
	align-items: center;
}

.contact_heading {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.contact_heading h1 {
	word-spacing: 4px;
	font-weight: 400;
	letter-spacing: 1px;
}

.contact_form {
	display: flex;
	flex-direction: column;
	padding-top: 4%;
	padding-left: 7%;
	padding-bottom: 13%;
	background-color: #fbf5f5;
	border-radius: 12px;
	justify-content: space-around;
}

.name {
	width: 200px;
	font-size: 20px;
	font-weight: 600;
}

.name input {
	width: 361%;
	height: 52px;
	border-radius: 8px;
}

.contact_form span {
	display: flex;
	align-items: center;
}

.contact_form span label {
	width: 200px;
	font-size: 20px;
	font-weight: 600;
	margin-right: 219px;
}
.contact_form span input {
	width: 151%;
	height: 52px;
	border-radius: 8px;
}

.appointment {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.appointment div {
	display: flex;
	margin-top: 15px;
	align-items: center;
	justify-content: space-between;
}

.appointment div label {
	width: 171px;
	font-size: 20px;
	font-weight: 600;
	margin-right: 63px;
}

.date input {
	width: 151%;
	height: 52px;
	border-radius: 8px;
}

.checkbox {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 30px;
}

.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.call_btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 170px;
	height: 40px;
	line-height: 1;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	border: 3px solid #8c82fc;
	background: #fff;
	color: #8c82fc;
	border-radius: 40px;
	cursor: pointer;
	overflow: hidden;
	transition: all 0.35s;
	margin: auto;
	margin-top: 35px;
}

.call_btn:hover {
	background: #8c82fc;
	color: #fff;
}

.call_btn span {
	opacity: 1;
	visibility: visible;
	transition: all 0.35s;
}

.success {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	border-radius: 50%;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: all 0.35s;
}

.success img {
	width: 20px;
	height: 20px;
	fill: yellowgreen;
	transform-origin: 50% 50%;
	transform: translateY(-50%) rotate(0deg) scale(0);
	transition: all 0.35s;
}

button.is_active {
	width: 40px;
	height: 40px;
}

button.is_active .success {
	opacity: 1;
	visibility: visible;
}

button.is_active .success svg {
	margin-top: 50%;
	transform: translateY(-50%) rotate(720deg) scale(1);
}

button.is_active span {
	opacity: 0;
	visibility: hidden;
}

.checkbox label input {
	margin-right: 10px;
}

@media (max-width: 320px) {
	.contact_heading {
		text-align: start;
		font-size: 18px;
	}
	.main {
		display: flex;
		flex-direction: column;
		padding-left: 7%;
		padding-top: 1%;
		padding-bottom: 5%;
		justify-content: center;
		align-items: center;
	}

	.contact_form {
		width: 99vw;
		display: flex;
		flex-direction: column;
		padding-top: 4%;
		padding-bottom: 31%;
		background-color: #fbf5f5;
		border-radius: 12px;
		justify-content: space-around;
	}

	.contact_form label {
		font-size: 16px;
	}
	.appointment div label {
		font-size: 16px;
	}

	.name input {
		width: 98%;
		height: 40px;
		border-radius: 8px;
		margin: 0;
	}

	.contact_form span {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 0;
		padding: 0;
		/* align-items: center; */
	}

	.contact_form span label {
		width: 200px;
		font-size: 16px;
		font-weight: 600;
		margin: 0;
		padding: 0;
	}

	.contact_form span label input {
		width: 98%;
		height: 40px;
	}
	.appointment {
		margin: 0;
		margin-left: 5px;
	}

	.appointment h1 {
		font-size: 23px;
	}
	.appointment div {
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.checkbox label {
		display: flex;
		align-items: center;
	}

	.checkbox label input {
		height: 40px;
		margin-right: 10px;
	}

	.call_btn {
		margin-top: 18px;
	}

	.date input {
		width: 112%;
		height: 40px;
	}
}
@media (min-width: 321px) and (max-width: 480px) {
	.contact_heading {
		text-align: start;
		font-size: 23px;
	}
	.main {
		display: flex;
		flex-direction: column;
		padding-left: 7%;
		/* padding-right: 11%; */
		padding-top: 1%;
		padding-bottom: 5%;
		/* margin-right: 12%; */
		justify-content: center;
		align-items: center;
	}

	.contact_form {
		width: 96vw;
		display: flex;
		flex-direction: column;
		padding-top: 4%;
		padding-bottom: 31%;
		background-color: #fbf5f5;
		border-radius: 12px;
		justify-content: space-around;
		margin: 0;
	}

	.contact_form label {
		font-size: 16px;
	}

	.name input {
		width: 150%;
		height: 40px;
		border-radius: 8px;
		margin: 0;
	}

	.contact_form span {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 0;
		padding: 0;
		/* align-items: center; */
	}

	.contact_form span label {
		width: 190px;
		font-size: 16px;
		font-weight: 600;
		margin: 0;
		padding: 0;
	}

	.contact_form span label input {
		width: 158%;
		height: 40px;
	}
	.appointment {
		margin: 0;
		margin-left: 5px;
	}

	.appointment h1 {
		font-size: 23px;
	}
	.appointment div {
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.appointment div label {
		font-size: 16px;
	}

	.checkbox label {
		display: flex;
		align-items: center;
	}

	.checkbox label input {
		height: 40px;
		margin-right: 10px;
	}

	.call_btn {
		margin-top: 18px;
	}

	.date input {
		width: 172%;
		height: 40px;
	}
}
@media (min-width: 481px) and (max-width: 767px) {
	.main {
		display: flex;
		flex-direction: column;
		padding-left: 7%;
		padding-right: 11%;
		padding-top: 5%;
		padding-bottom: 5%;
		margin-right: 12%;
		justify-content: center;
		align-items: center;
	}

	.contact_form {
		width: 82vw;
		display: flex;
		flex-direction: column;
		padding-top: 4%;
		padding-bottom: 31%;
		background-color: #fbf5f5;
		border-radius: 12px;
		justify-content: space-around;
		align-items: flex-start;
	}

	.name input {
		width: 178%;
		height: 43px;
	}

	.contact_form label {
		font-size: 22px;
	}
	.appointment div label {
		font-size: 16px;
	}

	.contact_form span {
		display: flex;
		align-items: center;
	}

	.contact_form span label {
		width: 200px;
		font-size: 20px;
		margin: 0;
		padding: 0;
	}
	.contact_form span input {
		width: 159px;
		height: 43px;
	}
	.date input {
		height: 43px;
	}
	.appointment {
		margin: 0;
	}
	.appointment div {
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.appointment div label {
		font-size: 22px;
		margin-top: 10px;
	}
	.appointment h1 {
		font-size: 26px;
		font-weight: 600;
		margin-top: 13px;
	}

	.checkbox label {
		display: flex;
		align-items: center;
	}
}
@media (min-width: 767px) and (max-width: 1023px) {
	.contact_form {
		width: 93vw;
		padding-bottom: 31%;
		align-items: flex-start;
		margin: 0;
	}

	.name {
		display: flex;
		flex-direction: column;
	}

	.name input {
		width: 328%;
		height: 62px;
	}

	.contact_form label {
		font-size: 22px;
	}
	.appointment div label {
		font-size: 22px;
	}

	.contact_form span {
		/* align-items: flex-start; */
		justify-content: space-between;
		width: 60vw;
	}

	.contact_form span label {
		margin-right: 142px;
	}
	.contact_form span input {
		width: 316px;
		height: 62px;
	}

	.appointment {
		display: flex;
		justify-content: space-between;
		/* align-items: center; */
	}
	.appointment div {
		width: 54vw;
	}

	.date input {
		width: 249px;
		height: 62px;
	}

	.checkbox label input {
		margin-right: 10px;
	}

	.checkbox {
		margin-left: 60px;
	}
}
