.service {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: -85px;
	z-index: 1;
	position: absolute;
	/* width: 100vw; */
}

.service1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.service1 p {
	font-size: 18px;
	font-weight: 600;
}

@media (max-width: 320px) {
	.service {
		margin-top: -17px;
	}

	.service1 img {
		width: 41px;
	}
	.service1 p {
		font-size: 6px;
	}
}
@media (min-width: 320px) and (max-width: 480px) {
	.service {
		margin-top: -23px;
	}

	.service1 img {
		width: 52px;
	}
	.service1 p {
		font-size: 9px;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	.service {
		margin-top: -23px;
	}

	.service1 img {
		width: 63px;
	}
	.service1 p {
		font-size: 10px;
	}
}
@media (min-width: 767px) and (max-width: 1023px) {
	.service {
		width: 97vw;
		margin-top: -45px;
	}

	.service1 img {
		width: 96px;
	}
	.service1 p {
		font-size: 13px;
	}
}
@media (min-width: 1024px) and (max-width: 1200px) {
	.service {
		margin-top: -45px;
	}

	.service1 img {
		width: 110px;
	}
	.service1 p {
		font-size: 18px;
	}
}
@media (min-width: 1201px) and (max-width: 1449px) {
	.service {
		margin-top: -65px;
	}

	.service1 img {
		width: 143px;
	}
	.service1 p {
		font-size: 20px;
	}
}
