nav {
	width: 98vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
	text-transform: uppercase;
}

nav img {
	height: 115px;
}

a:-webkit-any-link {
	color: -webkit-link;
	cursor: pointer;
	text-decoration: none;
	font-size: 27px;
	font-weight: 500;
	margin-left: 10px;
	text-align: center;
}

@media (max-width: 320px) {
	nav {
		width: 90vw;
		display: flex;
		text-transform: uppercase;
		padding: 0%;
	}

	.navLink {
		width: 100px;
		text-align: center;
		margin-left: 10px;
	}

	.logo_img {
		width: 100px;
		height: 77px;
	}

	a:-webkit-any-link {
		font-size: 11px;
		font-weight: 500;
	}
}
@media (min-width: 321px) and (max-width: 480px) {
	nav {
		width: 95vw;
		display: flex;
		text-transform: uppercase;
		padding: 0%;
	}

	.navLink {
		width: 100px;
		text-align: center;
		margin-left: 10px;
	}

	.logo_img {
		width: 100px;
		height: 77px;
	}

	a:-webkit-any-link {
		font-size: 11px;
		font-weight: 500;
	}
}
@media (min-width: 481px) and (max-width: 767px) {
	nav {
		width: 95vw;
		padding: 0%;
	}

	.navLink {
		width: 100px;
		text-align: center;
		margin-left: 10px;
	}

	.logo_img {
		width: 100px;
		height: 85px;
	}

	a:-webkit-any-link {
		font-size: 14px;
		margin-left: 10px;
	}
}
@media (min-width: 768px) and (max-width: 1023px) {
	nav {
		width: 98vw;
		padding: 0% 4%;
	}

	.navLink {
		width: 100px;
		text-align: center;
		/* margin-left: 10px; */
	}

	.logo_img {
		width: 159px;
	}

	a:-webkit-any-link {
		font-size: 20px;
		margin-left: 10px;
	}
}
