a:-webkit-any-link {
	color: -webkit-link;
	cursor: pointer;
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	margin: auto 50px;
}
.bg-light {
	--bs-bg-opacity: 0;
	background-color: #fff;
}

nav img {
	width: 200px;
	height: 115px;
	margin: auto;
}

nav {
	margin-left: 24px;
}

.navbar-toggler {
	padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
	font-size: var(--bs-navbar-toggler-font-size);
	line-height: 1;
	color: var(--bs-navbar-color);
	background-color: transparent;
	border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
	/* border-radius: var(--bs-navbar-toggler-border-radius); */
	transition: var(--bs-navbar-toggler-transition);
	border: none;
}

@media screen and (max-width: 992px) {
	nav img {
		display: none;
	}
}
