a:-webkit-any-link {
	color: -webkit-link;
	cursor: pointer;
	text-decoration: none;
	font-size: 11px;
	font-weight: 700;
	text-align: center;
	margin: auto 50px;
}
.bg-light {
	--bs-bg-opacity: 0;
	background-color: #fff;
}

nav img {
	width: 200px;
	height: 115px;
	margin: auto;
}

nav {
	margin-left: 24px;
}
.lg_img {
	top: 0;
	left: 36%;
	position: absolute;
}

.navbar-toggler {
	padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
	font-size: var(--bs-navbar-toggler-font-size);
	line-height: 1;
	color: var(--bs-navbar-color);
	background-color: transparent;
	border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
	/* border-radius: var(--bs-navbar-toggler-border-radius); */
	transition: var(--bs-navbar-toggler-transition);
	border: none;
}

@media screen and (max-width: 767px) {
	.sm_img {
		display: none;
	}
	.lg_img {
		width: auto;
		height: 51px;
		left: -19px;
	}
	.navbar-toggler-icon {
		position: unset;
		right: 0px;
	}
}
@media (min-width: 768px) {
	.lg_img {
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.navbar-expand-md .navbar-nav .nav-link {
		padding-right: 0rem;
		padding-left: 0rem;
	}
	.navbar-expand-md .navbar-nav {
		margin-left: -66px;
		justify-content: space-between;
		flex-direction: row;
	}

	a:-webkit-any-link {
		font-size: 11px;
		margin: auto 23px;
	}

	.lg_img {
		display: none;
	}
}
@media (min-width: 1024px) and (max-width: 1249px) {
	/* .navbar-expand-md .navbar-nav .nav-link {
		padding-right: 0rem;
		padding-left: 0rem;
	}*/
	/* .navbar-expand-md .navbar-nav {
		justify-content: space-between;
		flex-direction: row;
		margin-left: 92px;
	} */

	a:-webkit-any-link {
		font-size: 15px;
		margin: auto 28px;
	}
	.lg_img {
		display: none;
	}
}
